@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&display=swap');

html *{
    box-sizing:border-box;
    margin: 0;
    
}
/********MISE EN PAGE*******************/

/* Elements Globaux */
html {font-size: 100%; scroll-behavior: smooth;}
body {font-size: .85em;}

.section__h2 {
    font-size: 2rem;
    letter-spacing: 0.4rem;
    text-align: center;
    margin: 4rem auto;
    text-transform: uppercase;
    font-weight: bold;
}

header{
    width: 100%;
    max-width: 100%;
    position: absolute;
    z-index: 10;
}

body{
    font-family: 'Josefin Sans', sans-serif;    
}

main{
display: flex;
flex-wrap: wrap;
}

.cards__card-top {
    border-radius: 4px;
}


article h2{
    margin: 1.5rem 1rem;
}


/* FIN Elements Globaux */


/**********************FIN MISE EN PAGE**********************/

/**************************************Section Accueil***********************************/   

.section-presentation{
    position: relative;
    background-color: black;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/paysages/paysage23.jpg);
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/feuillescanopee.webp); */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
 
.perso-complet{
    display: flex;
    width: 60%;
    align-self: center;
    justify-content: center;
    margin: 0 auto;
}

.section-presentation h2 {
    margin: 0 15px;
    font-size: 2rem;
    color: white;
    padding-right: 20px;
}

.titreldp {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 2rem;
    margin: 1rem;
    color: white;
    letter-spacing: 5px;

}

.titreldp2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    width: 100%;
    justify-content: center;
    margin: 0;

}

#city-title {
    color: white;
}

#h3Header {
    width: 100%;    
}

.typing-h3 {
    width: 100%;
    display: flex;
    justify-content: center;
}

#titreldp2-subtitle {
    display: inline-block;
    align-items: center;
    text-align: center;
    font-weight: 900;
    justify-content: center;
    font-size: 3rem;
    background: linear-gradient(225deg, #27d86c 0%, #26caf8 50%, #c625d0 100%);
    -webkit-background-clip: text;
    color: transparent;
    color: linear-gradient(225deg, #27d86c 0%, #26caf8 50%, #c625d0 100%);
    margin: 0;
}
    
/* cursor blinking */
#cursor {
    display: inline-block;
    margin-left: 5px;
    font-size: 3rem;
    background: linear-gradient(225deg, #27d86c 0%, #26caf8 50%, #c625d0 100%);
    -webkit-background-clip: text;
    color: transparent;
    color: linear-gradient(225deg, #27d86c 0%, #26caf8 50%, #c625d0 100%);
    animation: blink 1s linear infinite;
}

@keyframes blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
}


#h3Header, #age {
        display: flex;
        align-items: center;
        text-align: center;
        width: 100%;
        justify-content: center;
        font-size: 2rem;
        color: white;
        margin: 0;
}

.btn-marron-fleche {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.img-marron-fleche  {
    opacity: 0.9;
    width: 50%;
    margin-top: 1rem;
}

/** MEDIA QUERIES FORMAT DESKTOP**/

@media (min-width: 768px) {

    .perso-complet{
        width: 35%;
    }

    .titreldp {
        letter-spacing: 9px;
        font-size: 5rem;
        padding-top: 0.5rem;
        margin-bottom: 1rem;
    }

    .titreldp2 {
        font-size: 1.5em;
    }

    .sidenav ul, li {
        margin-top: 2rem;
    }

    .sidenav li:hover {
        text-decoration: underline;
        color: white;
    }

    .btn-marron-fleche {
        margin-bottom: 2rem;
        display: none;
    }

    .img-marron-fleche  {
        opacity: 0.9;
        width: 70%;
        margin-bottom: 0.7rem;
    }

    .img-marron-fleche:hover {
        opacity: 1;
    }

}

/*************************************FIN SECTION ACCUEIL***********************/

/****************************FORMATION SECTION**************************/

.formation-section {
    background-color: #000000;
    width: 100%;
    padding-bottom: 100px;
}

.formation-section .section__h2 {
    color: white;
}


/***************CARTES******************/

.card{
    max-width: 20rem;
    text-align: center;
    border-radius: 5px;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0 1rem;
}

.card h2 {
    font-size: 2rem;
}

.card:hover {
    animation: pulse;
    animation-duration: 2s;
}

.cart-0 {
    background-color: white;
    border-radius: 5px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
}

.cart-1, .cart-2, .cart-3 {
    background-color: white;
    border-radius: 5px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
}

#logo-edhec {
    background-color: #dcdddc;
}

#logo-inseec {
    background-color: #6e9efc;
}


div.container-allcards {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    gap: 15px;
    margin-top: 50px;
    
}

.nomSpeOclock {
    color: #0ac3a7;
    letter-spacing: 4px;
    text-shadow: #01574a 1px 1px;
}

.nomSpeEdhec {
    color: #a51f34;
    letter-spacing: 4px;
    text-shadow: #55010e 1px 1px;
}

.nomSpeInseec {
 color: #092d74;
 letter-spacing: 4px;
 text-shadow: black 1px 1px;
}

.nomSpeBac {
color: #000000;
letter-spacing: 4px;
}

.card p {
    font-size: 1rem;
    text-align: justify;
    margin: 1rem;

}

.cards__formation-date{
    font-size: 2rem;
    margin-top: 1.5rem;
    color: white;
    font-style: italic;
    text-transform: uppercase;
}

.cards__card-bottom {
    border-radius: 5px;
    box-shadow: 0 5px 10px black;
}

.cards__card-bottom p {
    padding: 0 0.7rem 0.7rem 0.7rem;
}

.cartimg {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.cards__card-top {
    border-radius: 5px 5px 0 0;
    background-color: white;
}


/*******************************COMPETENCES SECTION*********/

.skill-section {
    width: 100%;
    background-color: #F0F0F0;
}

.skill-section .section__h2 {
    color: black;
}

.skill-section h3 {
    font-size: 1.5em;
    margin-top: 1rem;
}

.skill-section img {
    width: 100%;
    text-align: center;
    justify-content: space-evenly;
}

.logo-competences__indiv{
    width: 35%;
    text-align: center;
    padding: 2.5%;
    gap: 1rem;
    margin-bottom: 0.3rem;
}

.skill-section__container-logos{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/** MEDIA QUERIES FORMAT DESKTOP**/

@media (min-width: 768px) {

    .logo-competences__indiv{
        width: 18%;
    }
    
    }

/***************CONTACT SECTION*******************/
.contact-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
    height: 100vh;
}

#contact {
    color: black;
}


#contact-form label{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    margin-top: 12px;
    font-size: 1rem;

}

#contact-form legend {
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}

#contact-form fieldset {
    border: none;
    
}

#contact-form input {
    width: 100%;
    border: 1px solid black;
    color: white;
}

#contact-form textarea {
    width: 100%;
    max-width: 100%;
    color: white;
}


#contact-form {
    width: 90%;
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 2rem;
    letter-spacing: 2px;
    font-size: 0.8rem;
    border-radius: 0.2rem;
    padding: 0.8rem;
    box-shadow: 0 0.2rem 0.2rem 0.2rem lightgray;
}

.champsForm{
    margin-top: 0.5rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
    letter-spacing:1px;
    padding: 0.4rem;
    font-size: 0.7rem;
    background: linear-gradient(225deg, #27d86c 0%, #26caf8 50%, #c625d0 100%);
    border: 1px solid black;
}
    
.buttonContact{
    width: 100%;
    text-align: center;
    justify-content: center;
    color: white;
    background-color: black;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    border-radius: 6px;
    padding: 0.7rem 0.4rem;
    margin-top: 1rem;
    cursor: pointer;
}

.buttonContact:hover {
    background: linear-gradient(225deg, #27d86c 0%, #26caf8 50%, #c625d0 100%);
    transform: translate(0,-3px);
}

::placeholder {
    font-size: 0.7rem;
    color: white;
}
/** MEDIA QUERIES FORMAT DESKTOP**/

@media (min-width: 768px) {
    #contact-form label{
        font-size: 1.2rem;
    }

    #contact-form legend {
        font-size: 1.5rem;
    }

    #contact-form {
        width:50%;
    }

    .champsForm{
        width: 100%;
    }

    .buttonContact{
        width: 50%;
        padding: 0.5rem;
        margin-top: 0.5rem;
        font-size: 1.2rem;
    }

    #form__button__container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/*************************************FIN FORM CONTACT********************************/

/** MENU BURGER **/

.menu-burger {
    margin: 1.5rem;
    width: 200px;
}

/* Sidenav menu */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: rgba(0, 0, 0, 0.9);
    padding-top: 60px;
    transition: left 0.5s ease;
}
  
/* Sidenav menu links */
.sidenav a {
padding: 0.5rem 0.5rem 0.5rem 1.5rem;
text-decoration: none;
font-size: 1.5rem;
color: white;
display: block;
transition: 0.3s;
}

.sidenav a:hover {
color: white;
}

.sidenav ul {
list-style-type: none;
padding: 0;
margin-top: 2rem;
}

/* Active class */
.sidenav.active {
left: 0;
}

/* Close btn */
.sidenav .close {
position: absolute;
width: 3rem;
height: 3rem;
top: 1rem;
left: 1rem;
font-size: 1.8rem;
background-color: white;
border-radius: 15rem;
border: none;
font-weight: bold;
cursor: pointer;
}

.close:hover {
background: linear-gradient(225deg, #27d86c 0%, #26caf8 50%, #c625d0 100%);
border: 3px solid white;
color: white;
}

/* Icône burger */
#openBtn {
display: flex;
width: 34px;
}

.burger-icon span {
display: block;
width: 35px;
height: 5px;
background-color: white;
margin: 6px 0;
border-radius: 0.5rem;
box-shadow: 0rem 0.01rem 0.5rem black;
}

/**BOUTON POUR REMONTER EN HAUT DE LA PAGE**/

.remonter-en-haut {
    display: flex;
    width: 3rem;
    height: 3rem;
    font-size:2rem;
    background-color: black;
    border-radius: 10rem;
    margin: 1rem;
    align-items: center;
    justify-content: center;
    padding-top: 0.5rem;
    border: 0.02rem solid white;
    position: fixed;
    top: 85vh;
    right: 1vw;
    opacity: 0.4;
    cursor: pointer;
    text-decoration: none;
}

.remonter-en-haut p{ 
    display: flex;
    font-size: 4rem;
    font-weight: 200;
    color: white;
    align-items: center;
    justify-content: center;
    margin: auto auto;
}

.btn-hidden {
    visibility: hidden;
}


@media (min-width: 768px){
.remonter-en-haut {
    top: 80vh;
    right: 3vw;
    opacity: 1;
}

}

/** POPUP ENVOI FORMULAIRE **/

.containerOfContainer-popup{
    display: none;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: fixed;

}

.container-popup {
display: flex;
width: 90%;
max-height: 80vh;
flex-direction: column;
align-items: center;
margin: 0 auto;
z-index: 5000;
overflow-y: scroll;
scrollbar-width: thin;

background: rgba( 255, 255, 255, 0.60 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 9px );
-webkit-backdrop-filter: blur( 9px );
border-radius: 10px;
border: 3px solid black;

}

.__popup-title {
font-size: 2rem;
font-weight: bold;
text-align: center;
margin-top: 2rem;
}

.__popup-subtitle {
    font-size: 1.5rem;
    margin: 1rem;
    text-align: center;

}

.__popup-email-container {
border-radius: 5px;
border: none;

background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 9px );
-webkit-backdrop-filter: blur( 9px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.__popup-email-container p {
    padding: 0.5rem;
    font-size: 1rem;

}

#__popup-form-message {
    border-radius: 5px;
    border: none;
    width: 80%;
    
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#__popup-form-message p {
    padding: 0.5rem;
    font-size: 1rem;
    white-space: normal;
    word-wrap: break-word;
}

#__popup-button {
    width: 50%;
    text-align: center;
    justify-content: center;
    color: white;
    background-color: black;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    border-radius: 6px;
    padding: 0.7rem 0.4rem;
    margin-top: 1rem;
    cursor: pointer;
    margin: 0.8rem;
}



@media (min-width: 768px){
    #__popup-button {
        width: 25%;
    }
}


/*********************BANDEAU COOKIES
#bandeau-cookie {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif; 
    font-size: 1.2em;  
    display: block; /****A CHANGER PAR "none" une fois config et en ligne**
    
}

#accepter-cookie, #refuser-cookie{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    font-family: 'Josefin Sans', sans-serif;   
    font-size: 1.1em;
}

#accepter-cookie:hover, #refuser-cookie:hover{
    background-color: #45a049;
} ****/

/**********FIN BANDEAU COOKIES*********/


/** ANIMATION CSS IMPORTATION **/
@-webkit-keyframes pulse{
    0% {
        -webkit-transform:scaleX(1);transform:scaleX(1)
    }
    
    50%{
        -webkit-transform:scale3d(1.05,1.05,1.05);
        transform:scale3d(1.05,1.05,1.05)
    }

    to {
        -webkit-transform:scaleX(1);
        transform:scaleX(1)
    }
}

@keyframes pulse {
    0% {
        -webkit-transform:scaleX(1);
        transform:scaleX(1)
    }
    
    50% {
        -webkit-transform:scale3d(1.05,1.05,1.05);
        transform:scale3d(1.05,1.05,1.05)
    }
    
    to {
        -webkit-transform:scaleX(1);
        transform:scaleX(1)
    }
}
    
    .animate__pulse {
        -webkit-animation-name:pulse;
        animation-name:pulse;
        -webkit-animation-timing-function:ease-in-out;
        animation-timing-function:ease-in-out
    }

/** A UTILISER AVEC "animation: pulse;
" et "animation-duration: 2s;" 
site pour retrouver les naimations: https://animate.style/ et 
feuille de style: https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css
!! PAS BESOIN DE TELECHARGER, JUSTE COPIER COLLER STYLE**/